# dev 
pip-tools
ipython
flask-shell-ipython

# project
flask
flask-CORS
flask-migrate
flask-restplus
flask-SQLAlchemy
flask-login
SQLAlchemy
pytz
python-dateutil
mysqlclient

# test
pytest
pytest-flask
