# dev 
pip-tools
ipython
flask-shell-ipython

# project
flask
flask-CORS
flask-migrate
flask-restplus
flask-SQLAlchemy
flask-login
SQLAlchemy
pytz
python-dateutil
mysqlclient
Werkzeug==2.2.3  # https://github.com/noirbizarre/flask-restplus/issues/777#issuecomment-583235327

# test
pytest
pytest-flask
# locust  # requires higher Werkzeug: Werkzeug>=1.0.1 (from locust==1.4.4->-r requirements.in (line 22))
